.home-page {
    color: #555555;
    text-align: center;
    h1 {
        font-size: 100px;
        padding: 20px 10px;
    }
    h3 {
        margin-top: 30px;
        font-size: 24px;
        padding: 10px;
    }
    h5 {
        font-size: 18px;
        padding: 5px 10px;
        a {
            text-decoration: none;
            color: $red;
        }
    }
    li {
        font-size: 20px;
        padding: 5px 10px;
        color: $red;
    }
    form {
        margin: 50px 0;
        label {
            font-size: 30px;
        }
        input, button {
            width: 300px;
            padding: 10px;
            display: block;
            margin: 10px auto;
            border: 1px solid #333333;
            border-radius: 4px;
        }
        button {
            background: $red;
            color: white;
        }
    }
}
