.navbar {
	background: grey;
	padding: 30px;
	width: 100%;

	[data-href] {
		color: white;
		text-transform: uppercase;
		font-size: 24px;
		opacity: .7;

		&.is-selected {
			text-decoration: underline;
			opacity: 1;
		}
	}
}
