<h1>Boilerplate</h1>
<ul>
	<li>Node.js</li>
	<li>MongoDB</li>
	<li>Express</li>
	<li>Node-Restful</li>
	<li>Backbone.js</li>
	<li>Handlebars</li>
	<li>SASS</li>
	<li>Jquery</li>
	<li>Lodash</li>
	<li>Grunt</li>
</ul>
<h3>Provided by: Derek Story</h3>
<h5><a href="http://derekstory.com">DerekStory.com</a></h5>
<h5><a href="https://github.com/derekstory">Github</a></h5>
<h5><a href="http://stackoverflow.com/users/2479962/dwreck08?tab=profile">StackOverflow</a></h5>
