<div class="nav-items">
	<span data-href="/" data-section="homepage" class="is-selected">Boilerplate Nav</span>
	<span data-href="/" data-section="testpage">Testing</span>
</div>

{{#if isLoggedIn }}
	<span class="logout">Logout</span>
{{else}}
	<div class="login">
		<input type="text" placeholder="username" />
		<input type="password" placeholder="password"/>
		<button>Submit</button>
	</div>
{{/if }}
